######################
# Project Specific
######################
/target/www/**

######################
# NetBeans
######################
nbproject/**
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# ignore components loaded via Bowercon
/bower_components
# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Gradle
######################
.gradle/**
/buildSrc/.gradle

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/build/**
/spring_loaded/**
/deploy/**
/out/**
/hpms-beneficiary-gateway/src/main/resources/public/**

######################
# Logs
######################
*.log
**/temp/**

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar


######################
# FrontEnd
######################
*/**/resources/public